*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-size: 1rem;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}
.MuiDrawer-paper {
    width: 60% !important;
}
.MuiListItem-root {
    justify-content: center !important;
}
.makeStyles-drawerHeader-40 {
    justify-content: center !important;
}
.makeStyles-drawerHeader-74 {
    justify-content: center !important;
}
